.footer-socialmedia svg {
    fill: #c33704;
    width: 30px;
    margin: 10px;
}

.footer-socialmedia svg:hover {
    fill: #2fb503e1;
}

.footer-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

footer a:hover {
    color: #c33704;
}

.footer-language{
    padding: 10px 0;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #727272;
}
.language-option-footer a{
    color: black !important;
}

.background-footer {
    background: -webkit-linear-gradient(90deg, #bc0101,#d86a03);                    
    background: linear-gradient(90deg, #bc0101,#d86a03);                                           
  }

